* {
  box-sizing: border-box;
}
body {
  background-color: rgb(175, 212, 245);
}
.faq {
  max-width: 800px;
  margin: 0 auto;
}
.faqitem {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.header {
  padding: 15px;
  cursor: pointer;
  background-color: aliceblue;
  font-size: 18px;
  color: #333;
  transition: background-color 0.3s ease;
}
.header:hover {
  background-color: #e0e0e0;
}
.body {
  max-height: 0px;
  overflow: hidden;
  background-color: #fff;
  transition: max-height 0.4s ease;
}
.content {
  padding: 15px;
  font-size: 15px;
  color: #555;
}
.faqitem.active .body {
  max-height: 300px;
}
